.sidebaroption {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 10px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
  color: gray;
}
.sidebaroption > p {
  display: none;
  font-weight: 300;
}
.sidebaroption > .MuiSvgIcon-root {
  padding: 5px;
}
.sidebaroption:hover,
.sidebaroption:hover > p,
.sidebaroption:hover > h3 {
  background-color: #e7e7e7;
}
.sidebaroption--active:hover,
.sidebaroption--active:hover > p,
.sidebaroption--active:hover > h3 {
  background-color: #fcecec;
  color: #c04b37;
}
.sidebaroption > h3 {
  flex: 1;
  margin-left: 10px;
  font-size: 14px;
  font-weight: 400;
  color: #292a2d;
}
.sidebaroption:hover > p {
  display: inline;
}
.sidebaroption--active {
  background-color: #fcecec;
  color: #c04b37;
}
.sidebaroption--active > p {
  display: inline !important;
}
.sidebaroption:hover > p {
  display: inline;
}
.sidebar__footer {
  border: #e7e7e7 solid 0.1px;
}
.sidebarMeet {
  color: #292a2d;
  padding: 10px 10px;
  font-size: 17px;
}
.sidebar_foot {
  display: flex;
  justify-content: center;
}
.footer-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}
.footer-text span {
  color: #1155cc;
}

.hangouts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 5px;
}
.hangouts__left {
  display: flex;
  align-items: center;
  padding-left: 15px;
}
.hangouts__left p {
  padding-left: 10px;
}
.hangouts__right {
  display: flex;
  padding-right: 20px;
}
.large_icon {
  transform: scale(1.8);
}
